.env
.env.local
.env.development.local
.env.test.local
.env.production.local


/venv/
/.venv/

/qala_frontend/node_modules
/.pnp
.pnp.js


pycache/
*.pyc
*.pyo
.pyd


/db.sqlite3
/db.sqlite3-journal
db.sqlite3


npm-debug.log
yarn-debug.log*
yarn-error.log*


/coverage/
/pytest_cache/


/build/
/staticfiles/
qala_backend/media/


.DS_Store

Misc
.vscode/
.idea/
*.log
*.pid
